{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <!--
    Avoid warning on Google Chrome Error with Permissions-Policy header:
    Origin trial controlled feature not enabled: 'interest-cohort'.
    see https://stackoverflow.com/a/75119417
  -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}
{% assign author_name = author_name | strip %}
{% assign site_root = site.url | append: site.baseurl %}
{% if site.title == 'blank' %}
  {% assign site_display_title = author_name %}
{% else %}
  {% assign site_display_title = site.title %}
{% endif %}
{% assign site_name = site.site_name | default: site_display_title %}
{% assign site_seo_title = site.seo_title | default: site_display_title %}
{% assign site_description = site.seo_description | default: site.description | strip_newlines | strip %}
{% assign page_description = page.seo_description | default: page.description | default: site_description | strip_newlines | strip %}
{% assign canonical_url = page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' %}
{% assign profile_contact_email = site.profile_contact_email | default: site.email %}

{% if page.seo_title %}
  {% assign document_title = page.seo_title %}
{% elsif page.url == '/blog/index.html' %}
  {% capture document_title %}{{ page.title }} | {{ site_seo_title }}{% endcapture %}
{% elsif page.title != 'blank' and page.url != '/' %}
  {% if page.title == null or page.title == '' %}
    {% capture document_title %}{{ page.date | date: '%Y' }} | {{ site_seo_title }}{% endcapture %}
  {% else %}
    {% capture document_title %}{{ page.title }} | {{ site_seo_title }}{% endcapture %}
  {% endif %}
{% else %}
  {% assign document_title = site_seo_title %}
{% endif %}
{% assign document_title = document_title | strip %}

{% assign page_og_image_source = page.og_image | default: page.img %}
{% assign og_image_source = page_og_image_source | default: site.og_image %}
{% if og_image_source %}
  {% if og_image_source contains '://' %}
    {% assign og_image_url = og_image_source %}
  {% else %}
    {% assign og_image_url = og_image_source | absolute_url %}
  {% endif %}
{% endif %}
{% if page_og_image_source %}
  {% assign og_image_width = page.og_image_width %}
  {% assign og_image_height = page.og_image_height %}
{% else %}
  {% assign og_image_width = site.og_image_width %}
  {% assign og_image_height = site.og_image_height %}
{% endif %}

{% assign person_image_source = site.person_image | default: site.og_image %}
{% if person_image_source contains '://' %}
  {% assign person_image_url = person_image_source %}
{% else %}
  {% assign person_image_url = person_image_source | absolute_url %}
{% endif %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Enhanced SEO Meta Tags -->
{% assign robots_content = page.robots | default: 'index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1' %}
<meta name="robots" content="{{ robots_content | escape }}">
<meta name="copyright" content="{{ author_name }}">
<meta name="language" content="{{ site.lang }}">

<!-- Canonical URL -->
<link rel="canonical" href="{{ canonical_url }}">

<!-- Additional SEO Meta Tags -->
<meta name="geo.region" content="US-CA">
<meta name="geo.placename" content="San Diego">
<meta name="geo.position" content="32.7157;-117.1611">
<meta name="ICBM" content="32.7157, -117.1611">
<title>{{ document_title }}</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{{ page_description | escape }}">
{% if page.keywords or site.keywords %}
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | escape }}{% else %}{{ site.keywords | escape }}{% endif %}">
{% endif %}
{% if page.citation_title %}
  <meta name="citation_title" content="{{ page.citation_title | escape }}">
{% endif %}
{% if page.citation_authors %}
  {% for citation_author in page.citation_authors %}
    <meta name="citation_author" content="{{ citation_author | escape }}">
  {% endfor %}
{% endif %}
{% if page.citation_publication_date %}
  <meta name="citation_publication_date" content="{{ page.citation_publication_date | escape }}">
{% endif %}
{% if page.citation_conference_title %}
  <meta name="citation_conference_title" content="{{ page.citation_conference_title | escape }}">
{% endif %}
{% if page.citation_firstpage %}
  <meta name="citation_firstpage" content="{{ page.citation_firstpage | escape }}">
{% endif %}
{% if page.citation_lastpage %}
  <meta name="citation_lastpage" content="{{ page.citation_lastpage | escape }}">
{% endif %}
{% if page.citation_volume %}
  <meta name="citation_volume" content="{{ page.citation_volume | escape }}">
{% endif %}
{% if page.citation_publisher %}
  <meta name="citation_publisher" content="{{ page.citation_publisher | escape }}">
{% endif %}
{% if page.citation_isbn %}
  <meta name="citation_isbn" content="{{ page.citation_isbn | escape }}">
{% endif %}
{% if page.citation_pdf_url %}
  <meta name="citation_pdf_url" content="{{ page.citation_pdf_url | escape }}">
{% endif %}
{% if page.doi %}
  <meta name="citation_doi" content="{{ page.doi | escape }}">
{% endif %}

{% assign is_blog_post = false %}
{% if page.url != '/blog/index.html' and page.url contains '/blog/' %}
  {% unless page.url contains '/tag/' or page.url contains '/category/' %}
    {% assign is_blog_post = true %}
  {% endunless %}
{% endif %}

{% if site.serve_og_meta %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ site_name | escape }}">
  <meta property="og:type" content="{% if is_blog_post %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ document_title | escape }}">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:description" content="{{ page_description | escape }}">
  {% if og_image_url %}
    <meta property="og:image" content="{{ og_image_url }}">
    {% if og_image_width %}
      <meta property="og:image:width" content="{{ og_image_width }}">
    {% endif %}
    {% if og_image_height %}
      <meta property="og:image:height" content="{{ og_image_height }}">
    {% endif %}
    <meta
      property="og:image:alt"
      content="{% if page.title and page.title != 'blank' %}{{ page.title | escape }}{% else %}{{ site_name | escape }}{% endif %}"
    >
  {% endif %}
  <meta property="og:locale" content="{{ site.lang }}">
  <meta property="og:locale:alternate" content="en_US">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ document_title | escape }}">
  <meta name="twitter:description" content="{{ page_description | escape }}">
  {% if og_image_url %}
    <meta name="twitter:image" content="{{ og_image_url }}">
    <meta
      name="twitter:image:alt"
      content="{% if page.title and page.title != 'blank' %}{{ page.title | escape }}{% else %}{{ site_name | escape }}{% endif %}"
    >
  {% endif %}
  {% assign x_username = site.x_username | default: site.data.socials.x_username %}
  {% if x_username %}
    <meta name="twitter:site" content="@{{ x_username }}">
    <meta name="twitter:creator" content="@{{ x_username }}">
  {% endif %}
{% endif %}

{% if site.serve_schema_org %}
  <!-- Schema.org -->
  {% assign sameaslinks = '' | split: ',' %}
  {% if site.profile_same_as %}
    {% for profile_link in site.profile_same_as %}
      {% assign sameaslinks = sameaslinks | push: profile_link %}
    {% endfor %}
  {% endif %}
  {% for social in site.data.socials %}
    {% case social[0] %}
      {% when 'acm_id' %}
        {% capture link %}https://dl.acm.org/profile/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'arxiv_id' %}
        {% capture link %}https://arxiv.org/a/{{ social[1] }}.html{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'blogger_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'bluesky_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'dblp_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'discord_id' %}
        {% capture link %}https://discord.com/users/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'facebook_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'github_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'github_username' %}
        {% capture link %}https://github.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'google_scholar_id' %}
        {% capture link %}https://scholar.google.com/citations?user={{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'instagram_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'linkedin_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'linkedin_username' %}
        {% capture link %}https://www.linkedin.com/in/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'mastodon_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'medium_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'orcid_id' %}
        {% capture link %}https://orcid.org/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'pinterest_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'reddit_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'researchgate_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'scholar_userid' %}
        {% assign scholar_user_id = social[1] | split: '&' | first %}
        {% capture link %}https://scholar.google.com/citations?user={{ scholar_user_id }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'semantic_scholar_id' %}
        {% capture link %}https://www.semanticscholar.org/author/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'snapchat_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'stackoverflow_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'tiktok_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'tumblr_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'twitch_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'twitter_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'x_username' %}
        {% capture link %}https://x.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'youtube_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
      {% when 'zhihu_url' %}
        {% assign sameaslinks = sameaslinks | push: social[1] %}
    {% endcase %}
  {% endfor %}
  {% assign sameaslinks = sameaslinks | uniq %}
  {% assign person_id = site_root | append: '#sirui-tao' %}
  {% assign website_id = site_root | append: '#website' %}
  {% assign profile_id = canonical_url | append: '#profile' %}
  {% capture search_target %}{{ site_root }}/search?q={search_term_string}{% endcapture %}

  {% if page.url == '/' %}
    <!-- ProfilePage, Person, and Website graph for the canonical homepage entity. -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "ProfilePage",
            "@id": {{ profile_id | jsonify }},
            "url": {{ canonical_url | jsonify }},
            "name": {{ site_name | jsonify }},
            "description": {{ site_description | jsonify }},
            "mainEntity": {
              "@id": {{ person_id | jsonify }}
            }
          },
          {
            "@type": "Person",
            "@id": {{ person_id | jsonify }},
            "name": {{ author_name | jsonify }},
            "alternateName": ["Sirui Tao", "Tao Sirui"],
            "givenName": {{ site.first_name | jsonify }},
            "familyName": {{ site.last_name | jsonify }},
            "url": {{ site_root | jsonify }},
            "image": {{ person_image_url | jsonify }},
            "email": {{ profile_contact_email | jsonify }},
            "jobTitle": {{ site.person_job_title | default: 'HCI Researcher' | jsonify }},
            "worksFor": {{ site.profile_works_for | jsonify }},
            "affiliation": {{ site.profile_affiliations | jsonify }},
            "alumniOf": {{ site.profile_works_for | jsonify }},
            "knowsAbout": {{ site.profile_knows_about | jsonify }},
            "sameAs": {{ sameaslinks | jsonify }},
            "description": {{ site_description | jsonify }}
          },
          {
            "@type": "WebSite",
            "@id": {{ website_id | jsonify }},
            "name": {{ site_name | jsonify }},
            "url": {{ site_root | jsonify }},
            "description": {{ site_description | jsonify }},
            "author": {
              "@id": {{ person_id | jsonify }}
            },
            "publisher": {
              "@id": {{ person_id | jsonify }}
            },
            "potentialAction": {
              "@type": "SearchAction",
              "target": {{ search_target | jsonify }},
              "query-input": "required name=search_term_string"
            }
          }
        ]
      }
    </script>
  {% else %}
    <!-- Site entity graph shared by interior pages. -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "Person",
            "@id": {{ person_id | jsonify }},
            "name": {{ author_name | jsonify }},
            "url": {{ site_root | jsonify }},
            "image": {{ person_image_url | jsonify }},
            "email": {{ profile_contact_email | jsonify }},
            "jobTitle": {{ site.person_job_title | default: 'HCI Researcher' | jsonify }},
            "affiliation": {{ site.profile_affiliations | jsonify }},
            "knowsAbout": {{ site.profile_knows_about | jsonify }},
            "sameAs": {{ sameaslinks | jsonify }}
          },
          {
            "@type": "WebSite",
            "@id": {{ website_id | jsonify }},
            "name": {{ site_name | jsonify }},
            "url": {{ site_root | jsonify }},
            "author": {
              "@id": {{ person_id | jsonify }}
            },
            "publisher": {
              "@id": {{ person_id | jsonify }}
            }
          }
        ]
      }
    </script>
  {% endif %}

  {% if page.publication_collection %}
    <!-- CollectionPage, ItemList, and ScholarlyArticle graph for the publication index. -->
    <script type="application/ld+json">
      {{ site.data.publication_catalog.schema_org.collection | jsonify }}
    </script>
  {% elsif page.publication %}
    <!-- ScholarlyArticle for a canonical publication context page. -->
    <script type="application/ld+json">
      {{ site.data.publication_catalog.schema_org.articles_by_key[page.publication.key] | jsonify }}
    </script>
  {% elsif page.url contains '/projects/' %}
    {% assign creative_same_as = '' | split: ',' %}
    {% if page.citation_pdf_url %}
      {% assign creative_same_as = creative_same_as | push: page.citation_pdf_url %}
    {% endif %}
    {% if page.doi %}
      {% capture doi_url %}https://doi.org/{{ page.doi }}{% endcapture %}
      {% assign creative_same_as = creative_same_as | push: doi_url %}
    {% endif %}
    {% if page.github %}
      {% assign creative_same_as = creative_same_as | push: page.github %}
    {% endif %}
    {% assign project_date_source = page.citation_publication_date | default: page.date %}
    {% if project_date_source == null and page.year %}
      {% capture project_date_source %}{{ page.year }}-01-01{% endcapture %}
    {% endif %}
    <!-- Schema.org for research publications and project pages. -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "CreativeWork",
        "@id": {{ canonical_url | append: '#creative-work' | jsonify }},
        "name": {% if page.citation_title %}{{ page.citation_title | jsonify }}{% elsif page.title %}{{ page.title | jsonify }}{% else %}{{ document_title | jsonify }}{% endif %},
        "description": {{ page_description | jsonify }},
        "url": {{ canonical_url | jsonify }},
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": {{ canonical_url | jsonify }}
        },
        {% if page.citation_authors %}
          "author": [
            {% for citation_author in page.citation_authors %}
              {% assign author_parts = citation_author | split: ',' %}
              {% if author_parts.size > 1 %}
                {% capture citation_author_name %}{{ author_parts[1] | strip }} {{ author_parts[0] | strip }}{% endcapture %}
              {% else %}
                {% assign citation_author_name = citation_author %}
              {% endif %}
              {
                "@type": "Person",
                "name": {{ citation_author_name | strip | jsonify }}
              }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ],
        {% else %}
          "author": {
            "@id": {{ person_id | jsonify }}
          },
        {% endif %}
        "publisher": {
          "@id": {{ person_id | jsonify }}
        },
        "genre": "Research Publication"
        {% if project_date_source %}
          ,
          "datePublished": {{ project_date_source | date: '%Y-%m-%d' | jsonify }}
        {% endif %}
        {% if og_image_url %}
          ,
          "image": {{ og_image_url | jsonify }}
        {% endif %}
        {% if page.citation_conference_title %}
          ,
          "isPartOf": {
            "@type": "CreativeWork",
            "name": {{ page.citation_conference_title | jsonify }}
          }
        {% endif %}
        {% if page.doi %}
          ,
          "identifier": {
            "@type": "PropertyValue",
            "propertyID": "DOI",
            "value": {{ page.doi | jsonify }}
          }
        {% endif %}
        {% if creative_same_as.size > 0 %}
          ,
          "sameAs": {{ creative_same_as | uniq | jsonify }}
        {% endif %}
        {% if page.keywords or site.keywords %}
          ,
          "keywords": {% if page.keywords %}{{ page.keywords | jsonify }}{% else %}{{ site.keywords | jsonify }}{% endif %}
        {% endif %}
      }
    </script>
  {% endif %}

  {% if is_blog_post %}
    <!-- Schema.org for blog posts. -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "@id": {{ canonical_url | append: '#blog-post' | jsonify }},
        "headline": {% if page.title %}{{ page.title | jsonify }}{% else %}{{ document_title | jsonify }}{% endif %},
        "description": {{ page_description | jsonify }},
        "author": {
          "@id": {{ person_id | jsonify }}
        },
        "publisher": {
          "@id": {{ person_id | jsonify }}
        },
        "url": {{ canonical_url | jsonify }},
        "datePublished": "{% if page.date %}{{ page.date | date: '%Y-%m-%d' }}{% else %}2025-01-01{% endif %}",
        "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date: '%Y-%m-%d' }}{% elsif page.date %}{{ page.date | date: '%Y-%m-%d' }}{% else %}2025-01-01{% endif %}",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": {{ canonical_url | jsonify }}
        },
        "articleSection": "{% if page.categories %}{{ page.categories | first }}{% else %}Research{% endif %}"
        {% if og_image_url %}
          ,
          "image": {{ og_image_url | jsonify }}
        {% endif %}
        {% if page.keywords or site.keywords %}
          ,
          "keywords": {% if page.keywords %}{{ page.keywords | jsonify }}{% else %}{{ site.keywords | jsonify }}{% endif %}
        {% endif %}
      }
    </script>
  {% endif %}
{% endif %}
